<div class="container">

  <div class="d-flex gap-1 my-3">
    <div class="flex-grow-1">
      <span class="badge text-bg-success">Auriculares</span>
      <span class="badge text-bg-light">Mouse</span>
      <span class="badge text-bg-light">Teclado</span>
    </div>

    <div class="d-flex align-items-center justify-content-center gap-2">
      <span class="badge text-bg-light">Ver Todo</span>
      <form action="" class="mb-0 d-flex gap-2">
        <label for="productsPerPage">
          Productos por página
        </label>
        <select
          class="form-select form-select-sm"
          aria-label="Products Per Page"
          id="productsPerPage"
        >
          <option value="10" selected>10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </form>
    </div>
  </div>

  <div class="row gy-2 justify-content-center">

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

    <div
      class="card d-flex flex-column col-4 mx-2"
      style="width: 18rem; height: 400px"
    >
      <img
        src="..."
        class="card-img-top bg-light"
        alt="..."
        style="min-height: 200px;"
      />
      <div class="card-body flex-grow-1">
        <p class="card-text mb-1 text-secondary">Category</p>
        <h5 class="card-title mb-1">Title</h5>
        <p class="card-text mb-1">In stock: 9</p>
        <p class="card-text mb-1 text-success fw-bold">$400</p>
      </div>
      <div class="d-flex justify-content-end mb-3 mx-3">
        <a href="#" class="btn btn-success">Agregar al carrito</a>
      </div>
      <div class="position-absolute top-0 end-0 p-1">
        <button class="btn p-1">
          <i class="bi bi-pencil-square fs-5 text-primary"></i>
        </button>

        <button class="btn p-1">
          <i class="bi bi-trash fs-5 text-danger"></i>
        </button>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center my-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>