<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex gap-2 align-items-center">
        <img src="/img/favicon.png" alt="E-commerce Logo" style="width: 48px;">
        <a class="navbar-brand" href="/">MyEcommerce</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/realTimeProducts">RealTimeProducts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/carts">Carritos</a>
        </li>
      </ul>

    <div>
      <a class="btn" href="/carts">
        <i class="bi bi-cart3 fs-4"></i>
      </a>

    </div>

  </div>
</nav>

<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
    <h1 class="text-center mb-5">Bienvenidos a MyEcommerce</h1>
    <h3>Para acceder a los productos o a los carritos utilice los links en la barra de navegación</h2>
</div>