<div>
  <h1 class="w-100 text-center mb-5">Real Time Products</h1>

  <div class="row m-3 g-5">
    <form id="newProductForm" class="col-12 col-md-6">
      <h2 class="mb-3">Agregar nuevo producto</h2>

      <div class="mb-3">
        <label for="title" class="form-label">Título del producto</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          aria-describedby="title"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Descripción del producto</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          aria-describedby="description"
        />
      </div>

      <div class="row">
        <div class="mb-3 col">
          <label for="code" class="form-label">Código del producto</label>
          <input
            type="text"
            class="form-control"
            id="code"
            name="code"
            aria-describedby="code"
          />
        </div>

        <div class="mb-3 col">
          <label for="price" class="form-label">Precio del producto</label>
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            aria-describedby="price"
          />
        </div>
      </div>

      <div class="row d-flex align-items-center">

        <div class="mb-3 col">
          <label for="stock" class="form-label">Stock del producto</label>
          <input
            type="number"
            class="form-control"
            id="stock"
            name="stock"
            aria-describedby="stock"
          />
        </div>

        <div class="d-flex gap-3 col">
          <div class="form-check d-flex">
            <input
              class="form-check-input"
              type="radio"
              name="status"
              id="statusTrue"
              value="true"
            />
            <label class="form-check-label" for="statusTrue">
              Habilitado
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="status"
              id="statusFalse"
              value="false"
              checked
            />
            <label class="form-check-label" for="statusFalse">
              Deshabilitado
            </label>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Categoría del producto</label>
        <input
          type="text"
          class="form-control"
          id="category"
          name="category"
          aria-describedby="category"
        />
      </div>

      <div class="mb-3">
        <label for="thumbnail" class="form-label">Imágen del producto</label>
        <input
          type="text"
          class="form-control"
          id="thumbnails"
          name="thumbnails"
          aria-describedby="thumbnail"
        />
      </div>

      <div class="w-100 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary w-50 mt-3">Crear producto</button>
      </div>
    </form>

    <div class="col-12 col-md-6 d-flex flex-column">
      <h2 class="mb-5">Lista de productos</h2>

      <ul id="productList" class="list-group overflow-auto flex-grow-1">
        {{#each products}}
          <li class="list-group-item" id="id-{{this.id}}">
            <div class="d-flex justify-content-between">
              <p class="m-0">{{this.title}} - ${{this.price}}</p>
              <button
                class="btn btn-danger"
                onclick="deleteProduct({{this.id}})"
              >Borrar</button>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>